.logoIcon,
.navbarChild {
  position: relative;
  max-width: 100%;
}
.navbarChild {
  height: 100px;
  width: 1909px;
  background-color: var(--color-white);
  display: none;
}
.logoIcon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.addCase,
.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoWrapper {
  height: 73px;
  width: 118.9px;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.addCase {
  flex: 1;
  padding: var(--padding-lg) 0 0;
}
.user {
  align-self: stretch;
  width: 91px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gray-500);
  z-index: 1;
}
.actions,
.navbar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.actions {
  width: 351px;
  justify-content: flex-start;
  gap: var(--gap-41xl);
}
.navbar {
  height: 100px;
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-40xl) var(--padding-11xs)
    var(--padding-18xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1325px) {
  .navbar {
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .actions {
    gap: var(--gap-11xl);
  }
}
